.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media screen and (min-width: 800px) {
    grid-template-columns: 4fr 6fr;
  }

  &__info {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    align-items: center;
    padding: 15px 20px 15px 15px;
    min-height: 350px;
  }

  &__icon {
    font-size: larger;
    justify-self: center;
  }

  &__text {
  }
}
