.contacts {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(350px, min-content);
  grid-gap: 20px;

  @media screen and (min-width: 800px) {
    grid-template-columns: 4fr 6fr;
  }

  &__info {
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 20px;
    grid-auto-rows: min-content;
    align-items: center;
    padding: 15px 20px 15px 15px;
  }

  &__icon {
    font-size: larger;
    justify-self: center;
  }

  &__text {
  }

  &__map {
    height: 100%;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #d65947 transparent #d65947 transparent;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
