.header {
  border-bottom: 1px solid #eee;
  background: white;
  margin: 0 -15px;
  padding: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.14) 0 4px 5px 0, rgba(0, 0, 0, 0.12) 0 1px 10px 0;

  &__title {
    flex: 0 0 auto;
    font-size: 36px;
    font-weight: bold;
  }

  &__title-link {
    text-decoration: none;
    color: inherit;
  }

  &__nav {
    margin-top: 10px;
    margin-left: 0;
  }

  @media screen and (min-width: 800px) {

    &__container {
      display: flex;
      align-items: baseline;
      width: 800px;
      margin: 0 auto;
    }


    &__title {
      flex: 0 0 auto;
    }

    &__nav {
      margin-top: 0px;
      margin-left: auto;
    }
  }
}

