.layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 'header header header' '. main .' '. footer .';
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 100% 1fr;
  padding: 0 15px;
  background-color: rgb(238, 238, 238);

  &__header {
    grid-area: header;
    z-index: 1;
  }

  &__main {
    grid-area: main;
  }

  &__footer {
    grid-area: footer;
    height: 60px;
  }

  @media screen and (min-width: 800px) {
    grid-template-rows: 60px auto 60px;
    grid-template-columns: 1fr 800px 1fr;

    &__header {
      position: sticky;
      top: 0;
    }
  }
}
