.member-card {
  border: 1px solid #bbb;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 'image' 'info';
  grid-template-columns: 1fr;
  box-shadow: 0 0 4px -1px #bbb;
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 2px solid #d65947;

  &__image-wrapper {
    grid-area: image;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__name {
    font-weight: bold;
  }

  &__position {
    color: #aaa;
    font-size: 14px;
  }

  &__more-link {
    font-size: smaller;
  }
}
