.member-card {
  display: grid;
  grid-template-rows: 225px 1fr;
  grid-template-areas: 'image' 'info';
  grid-template-columns: 1fr;

  &__image-wrapper {
    grid-area: image;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.1s ease-in;
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__name {
    font-weight: bold;
  }

  &__position {
    color: #aaa;
    font-size: smaller;
  }

  &__more-link {
    font-size: smaller;
  }
}
