.publication-card {
  border: 1px solid #bbb;
  box-shadow: 0 0 4px -1px #bbb;
  border-left: 2px solid #d65947;
  padding: 15px 15px;

  border-radius: 5px;

  &__title {
    margin-top: 0px;
  }

  &__link {
    font-size: smaller;
    margin-right: 20px;
    cursor: pointer;
  }

  &__abstract {
    border-top: 1px solid #bbb;
    padding-top: 10px;
    display: none;

    &--visible {
      display: block;
    }
  }

}
