.publication-card {
  padding: 15px 15px;

  &__title {
    margin-top: 0px;
  }

  &__links {
    margin-top: 5px;
  }

  &__link {
    font-size: smaller;
    margin-right: 20px;
    cursor: pointer;
  }

  &__abstract {
    border-top: 1px solid #bbb;
    padding-top: 10px;
    display: none;

    &--visible {
      display: block;
    }
  }

}
