.research-project-card {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'image info';
  grid-gap: 10px;

  &__image-wrapper {
    grid-area: image;
    overflow: hidden;
  }

  &__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.1s ease-in;
  }

  &__info {
    grid-area: info;
    padding: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__more-link {
    font-size: smaller;
  }
}
